InlayHints:
  Designators: No
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: No

CompileFlags:
  Add: [-Ibuild/_deps/screen_capture_lite/src/screen_capture_lite/include, -ferror-limit=0, -Wall, -Wextra, -Werror, -std=c++17]
  Compiler: clang++

Diagnostics:
  ClangTidy:
    Add: [modernize*, cppcoreguidelines*, performance*, bugprone*, clang-analyzer*, darwin*, abseil* ]
    Remove: [
      modernize-use-trailing-return-type,
      cppcoreguidelines-avoid-magic-numbers,
      cppcoreguidelines-special-member-functions,
    ]

If:
  PathExclude: ./build